$base-color: #111827;
$active-color: #6853a2;
$color1: #6853A2;
$color2: #EC1978;
$color3: #5ABE93;
$color4: #FBAF18;

$background-light: #f9fafb;
$background-regular: #f3f4f6;

$default-opacity: 0.6;

$default-transition: 0.3s;

$breakpoint-sm: 600px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;