$base-color: #111827;
$active-color: #111827;
$color1: #6853A2;
$color2: #EC1978;
$color3: #5ABE93;
$color4: #FBAF18;

$background-light: #F9FAFB;
$background-regular: #F3F4F6;

$default-opacity: 0.6;

$default-transition: 0.3s;