$base-color: #111827;
$active-color: #6853a2;
$background-light: #f9fafb;
$background-regular: #f3f4f6;

$default-opacity: 0.6;

$default-transition: 0.3s;

$breakpoint-sm: 600px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;