html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: $base-color;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.no-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.content {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 25px;
}

@keyframes rotate3d {
  0% {
    -webkit-transform: rotate3d(1, 1, 1, 0deg);
    -ms-transform: rotate3d(1, 1, 1, 0deg);
    -o-transform: rotate3d(1, 1, 1, 0deg);
    transform: rotate3d(1, 1, 1, 0deg);
  }
  50% {
    -webkit-transform: rotate3d(1, 1, 1, 180deg);
    -ms-transform: rotate3d(1, 1, 1, 180deg);
    -o-transform: rotate3d(1, 1, 1, 180deg);
    transform: rotate3d(1, 1, 1, 180deg);
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 1, 360deg);
    -ms-transform: rotate3d(1, 1, 1, 360deg);
    -o-transform: rotate3d(1, 1, 1, 360deg);
    transform: rotate3d(1, 1, 1, 360deg);
  }
}
