html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: $base-color;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  font-weight: 300;
}

h1 {
  font-size: 2.5em;
  font-weight: 600;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}

.ml-20 {
  margin-left: 20px;
}

.t-heading {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.mt-0 {
  margin-top: 0;
}

.mt-heading {
  margin-top: -20%;
  margin-bottom: 0;
}

.relative {
  position: relative;
}

.h-full {
  height: 100%;
}

.no-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.content {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 25px;
}

.mouse {
  margin: 0 auto;
  margin-top: -80px;
  width: 25px;
  height: 40px;
  border: 3px solid $base-color;
  border-radius: 60px;
  position: relative;
  &:hover {
    cursor: pointer;
  }
  &::before {
    content: "";
    width: 6px;
    height: 8px;
    position: absolute;
    top: 6px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $base-color;
    border-radius: 25px;
    opacity: 1;
    animation: wheel 2s infinite;
    -webkit-animation: wheel 2s infinite;
  }
}

.scroll-down {
  position: absolute;
  right: 15px;
  bottom: 2rem;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 14px;
  color: $base-color;
  &.scroll-down--left {
    left: 15px;
    right: auto;
  }
  &:hover {
    cursor: pointer;
  }
  span {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    -webkit-animation: bounce linear 2s infinite;
    animation: bounce linear 2s infinite;
  }
  svg {
    margin-top: 10px;
    width: 14px;
  }
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 20px;
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes rotate3d {
  0% {
    -webkit-transform: rotate3d(1, 1, 1, 0deg);
    -ms-transform: rotate3d(1, 1, 1, 0deg);
    -o-transform: rotate3d(1, 1, 1, 0deg);
    transform: rotate3d(1, 1, 1, 0deg);
  }
  50% {
    -webkit-transform: rotate3d(1, 1, 1, 180deg);
    -ms-transform: rotate3d(1, 1, 1, 180deg);
    -o-transform: rotate3d(1, 1, 1, 180deg);
    transform: rotate3d(1, 1, 1, 180deg);
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 1, 360deg);
    -ms-transform: rotate3d(1, 1, 1, 360deg);
    -o-transform: rotate3d(1, 1, 1, 360deg);
    transform: rotate3d(1, 1, 1, 360deg);
  }
}
