.preview {
  height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
  .preview__wrapper {
    display: flex;
    justify-content: center;
    .preview__logo {
      @include logo-animation();
    }
    .preview__name {
      margin-left: 20px;
    }
  }
}

nav {
  background-color: $background-light;
  font-weight: 300;
  .nav__wrapper {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .nav__logo {
      max-height: 60px;
      transition: $default-transition;
    }
    .nav__logo-wrapper {
      display: flex;
      gap: 0px 10px;
      align-items: center;
      cursor: pointer;
      &:hover {
        .nav__logo {
          @include logo-animation();
        }
      }
    }
    .nav__name {
      max-height: 45px;
    }
    .nav__flex {
      display: flex;
      gap: 0px 10px;
      align-items: center;
      flex-wrap: wrap;

      .nav__items {
        padding: 0;
        list-style: none;
        display: flex;
        gap: 0px 30px;
        a {
          transition: $default-transition;
          display: inline-block;
          position: relative;
          &:hover {
            transform: translateY(-2px);
          }          
        }
        li {
          position: relative;
          &:hover {
            transform: translateY(-2px);
            transition: $default-transition; 
            &::before {
              width: 100%;
              opacity: .6;
            }           
          } 
          &::before {
            content: '';
            position: absolute;
            height: 10px;
            width: 10px;
            left: -5px;
            bottom: 2px;
            background-color: $base-color;
            opacity: .4;
            transition: $default-transition;
          }
          &.c1 {
            &::before {
              background-color: $color1;
            }
          }
          &.c2 {
            &::before {
              background-color: $color2;
            }
          }
          &.c3 {
            &::before {
              background-color: $color3;
            }
          }
          &.c4 {
            &::before {
              background-color: $color4;
            }
          }
        }
      }
    }
  }
}

footer {
  background-color: $background-light;
  font-weight: 300;
  .footer__wrapper {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .footer__flex {
      display: flex;
      gap: 0px 30px;
      align-items: center;
      flex-wrap: wrap;
      > span {
        white-space: nowrap;
      }
      .footer__logo {
        max-height: 60px;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
        opacity: $default-opacity;
        transition: $default-transition;
        cursor: pointer;
        &:hover {
          opacity: 0.9;
          filter: none;
          @include logo-animation();
        }
      }
      .footer__icons {
        display: flex;
        gap: 10px;
        align-items: center;
        a {
          opacity: $default-opacity;
          height: 20px;
          transition: $default-transition;
          &:hover {
            opacity: 0.8;
            transform: translateY(-2px);
          }
          svg {
            height: 20px;
          }
        }
      }
      .mailto {
        display: inline-block;
        transition: $default-transition;
        &:hover {
          transform: translateY(-2px);
        }
      }
    }
  }
}